#heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
    margin: 2rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#para{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
}